<% if(!_isXHR){%><%- layout('layout/default') %><% } -%>
<h1><%= _pageH1 %></h1>
<style>
	.chat {
		border: 1px solid green;
	}
	.chat .form-message-send {
		vertical-align: top;
	}
	.chat .form-message-send .room-message-text {
		width: 100%;
		height: 50px;
	}
	.chat .form-message-send .input-group-btn {
		vertical-align: bottom;
	}
	.chat .room-list-wrapper {
		/*float: left;*/
		border: 1px solid red;
	}
	.chat .room-message-list-wrapper {
		/*float: left;*/
		border: 1px solid red;
	}
	.chat .room-message-list-wrapper .room-message-list {
		/*float: left;*/
		border: 1px solid red;
		min-height: 100px;
		overflow-y: auto;
	}
</style>
<div class="chat js-chat row">
	<fieldset class="room-list-wrapper js-room-list-wrapper col-sm-3">
		<legend>список чатов</legend>
		<ul class="room-list js-room-list"><%
			namespace_list.forEach(function(chanel)
			{
			%><li><a href="<%=chanel['id']%>"><%=chanel['name']%></a></li><%
			});
		%></ul>
	</fieldset>
	<fieldset class="room-message-list-wrapper js-room-message-list-wrapper col-sm-6">
		<legend>сообщения</legend>
		<div class="room-message-list js-room-message-list">
			
			<div class="room-message" style="display: table; border: 1px solid;width: 100%;">
				<div class="room-message-info" style="display: table-cell; width: 120px; border: 1px solid;text-align: center;">
					<div class="user-ava" style="display: inline-block;">
						<a href="/profile/11/" style=""><img class="img-circle" src="/files/user/photo/0/5/1/2838023a778dfaecdc212708f721b788/50_50.jpg" data-holder-rendered="true"><i class="media-object fa fa-user  hidden "></i></a>
					</div>
					<div class="user-name" style="display: inline-block; width: 100%;">RA</div>
				</div>
				<div class="room-message-body" style="display: table-cell; vertical-align: top; padding: 3px;">
					text
				</div>
			</div>
			
		</div>
		<form method="post" action="/chat" id="form_message_send" class="form-horizontal form-message-send">
			<div class="input-group t_message">
				<textarea class="form-control room-message-text js-room-message-text" id="t_message" name="t_message" placeholder="текст сообщения"></textarea>
				<div class="input-group-btn">
					<button type="button" class="btn btn-primary" id="btn_message_send" value="1" autocomplete="off">отправить</button>
				</div>
			</div>
		</form>
	</fieldset>
	<fieldset class="chat-room-user-list-wrapper js-chat-room-user-list-wrapper col-sm-3">
		<legend>спиоск пользователей</legend>
		<ul class="chat-room-user-list js-chat-room-user-list"></ul>
	</fieldset>
</div>