<div class="row eventListContainer">
	<p>TODO исправить: спсок регионов должен соответствовать текущим трем месяцам, а не за весь период</p>
	<div class="col-xs-12 col-md-12">
		<%-eventCalendar%>
	</div>
</div>