<div class="imagesWrapper">
<div class="imagesContainer">
<% eventImages.forEach(function (image)
{
	%><div class="imageItem"><img src="<%=image["previews"]["512_384"]%>" class="image" data-img-id="<%=image["ei_id"]%>"/></div><%
});%>
</div>
</div>