<div class="row eventListContainer">
	<ul class="eventCol col-xs-12 col-md-3">
	</ul>
</div>
<script type="text/javascript">
//<!--
(function($)
{
	$('select#eventLocations').on('change', function (event)
	{
		window.location.href = this.value;
	});
})(jQuery);
//-->
</script>