<%  if(!_isXHR){%><%- layout('layout/default') %><% } -%>
<div class="text-center">
<% if(confirmed == true) {%>
<p>Ваша регистрация успешна подтверждена. Теперь Вы можете войти на сайт.</p>
<% } else { %>
<p>Не удалось подтвердить регистрацию.</p>
<p>Возможно, Вы перешли по устаревшей или неправильной ссылке.</p>
<% }  %>
</div>