<%  if(!isXHR){%><%- layout('layout/user/index') %><% } %>
<h1><%=menuItem.m_h1%> - добавление трека</h1>
<ul class="nav nav-pills nav-justified" role="tablist">
	<li class="active" role="presentation"><a href="#base" aria-controls="base" role="tab" data-toggle="tab"><span class="fa fa-cog"></span> Основное</a></li>
	<li role="presentation"><a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab"><span class="fa fa-map-marker "></span> Контакты</a></li>
</ul>
<!-- Tab panes -->
<form class="form-horizontal" action="<%=menuItem.m_path%>/edit/" method="post" id="formMototrek">
<div class="panel panel-default">
	<div class="panel-body tab-content">
		<div role="tabpanel" class="tab-pane active" id="base">
			<div class="form-group s_mtt_name">
				<label for="s_mtt_name" class="col-sm-2 control-label">название *</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="s_mtt_name" name="s_mtt_name" value="" placeholder="название трека" required />
				</div>
			</div>
			<div class="form-group s_mtt_descrip">
				<label for="s_mtt_descrip" class="col-sm-2 control-label">описание</label>
				<div class="col-sm-10">
					<textarea class="form-control" id="s_mtt_descrip" name="s_mtt_descrip" placeholder="описание трека" required></textarea>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="contacts">
			<div class="form-group">
				<label for="s_mtt_website" class="col-sm-4 s_mtt_website">веб-сайт</label>
				<label for="s_mtt_email" class="col-sm-4 s_mtt_email">E-mail</label>
				<label for="s_mtt_phones" class="col-sm-4 s_mtt_phones">телефон(-ы)</label>
			</div>
			<div class="form-group">
				<div class="col-sm-4 s_mtt_website">
					<input type="text" class="form-control" id="s_mtt_website" name="s_mtt_website" value="" placeholder="веб-сайт" />
				</div>
				<div class="col-sm-4 s_mtt_email">
					<input type="text" class="form-control" id="s_mtt_email" name="s_mtt_email" value="" placeholder="E-mail" />
				</div>
				<div class="col-sm-4 s_mtt_phones">
					<input type="text" class="form-control" id="s_mtt_phones" name="s_mtt_phones" value="" placeholder="веб-сайт" />
				</div>
			</div>
			<div class="form-group s_mtt_address">
				<label for="m_mail" class="col-sm-1 control-label">адрес *</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" id="s_mtt_address" name="s_mtt_address" value="" readonly="readonly" placeholder="адрес" required="">
					<span class="help-block">укажите адрес с помощью карты: через поиск адреса, или по клику на карте.</span>
					<input type="text" id="f_mtt_lat" name="f_mtt_lat" value="" readonly="readonly" maxlength="20" required="" />
					<input type="text" id="f_mtt_lng" name="f_mtt_lng" value="" readonly="readonly" maxlength="20" required="" />
				</div>
			</div>
			<div class="form-group" >
				<div class="col-sm-12" id="mttMap" style="border: 1px solid red; height: 300px;"></div>
			</div>
		</div>
	</div>
</div>
	<div class="form-group">
		<div class="col-xs-offset-5 col-sm-offset-5 ">
			<input type="hidden" name="btn_save_mototrek" value="main"/>
			<button type="submit" class="btn btn-primary" id="btn_edit_mototrek" value="1" data-loading-text="сохраняю..." autocomplete="off">сохранить</button>
		</div>
	</div>
</form>

<p>данные по треку:</p>
<p>даты создания и обновления в БД</p>
<p>функционирует да или нет</p>
<p>название</p>
<p>адрес: страна. населенный пункт, улица, дом...</p>
<p>адрес: долгота, широта</p>
<p>контакты: веб-сайт</p>
<p>контакты: емейл</p>
<p>контакты: телефон</p>
<p>контакты: режим работы?!</p>
<p>описание</p>
<p>тип покрытия: асфальт, грунт...</p>
<p>фотографии?! (добавить в конфиг uploads)</p>
<script src="/js/mcMap.js" type="text/javascript"></script>
<script type="text/javascript">
//<!--
(function($)
{


	var mapState = {
		//center: [img["ai_latitude"], img["ai_longitude"]]
		 controls: ["zoomControl", "searchControl"]
		, zoom: 10
	};
	var mapOptions = {};
	var MttMcMap = new McMap('mttMap', {state: mapState, options: mapOptions});
	var mttPlacemark;
	MttMcMap.init()
			.then(function (MttMap)
			{
				MttMap.behaviors.disable('multiTouch');
				MttMap.behaviors.disable('scrollZoom');

				var searchControl = MttMap.controls.get("searchControl");
				searchControl.options.set("float", "right");

				searchControl.events.add('submit', function () {

					console.log('request: ' + searchControl.getRequestString());

				}, this);
				searchControl.events.add('resultselect', function (res)
				{
					/*res.stopPropagation();
					res.preventDefault();
					res.stopImmediatePropagation();

					 */


					searchControl.hideResult();

					var geoObject = searchControl.getResultsArray()[res.get('index')];
					console.log(searchControl.getResponseMetaData());

					var coords = geoObject.geometry.getCoordinates();
					McMap.locationByLatLng(coords[0], coords[1], 'house', 1)
							.then(function (location)
							{
								balloon(MttMap, location.text, location.coords);
							});

					//balloon(MttMap, searchControl.getResponseMetaData().request, geoObject.geometry.getCoordinates());

				}, this);

//Россия, Москва, Волоколамское шоссе, 88

				balloon(MttMap, '', MttMap.getCenter());

				//MttMap.geoObjects.add(mttPlacemark);



				/* когда кликаем по карте */
				MttMap.events.add('click', function (event)
				{
					var coords = event.get('coords');
					console.log(coords);
					return McMap.locationByLatLng(coords[0], coords[1], 'house')
							.then(function(location)
							{
								console.log('location on map click');
								console.log(location);

								balloon(MttMap, location.text, location.coords);

								console.log('END location on map click');
							});
				});

				//console.log(searchControl);
				//var searchControl = MttMap.constrols.get("searchControl");
				/*var mttPlacemark = new ymaps.Placemark(MttMap.getCenter(),
						{
							//balloonContentHeader: 'Заголовок балуна',
							balloonContentBody: 'balloonContentBody'
						},
						{
							balloonCloseButton: false,
							balloonPanelMaxMapArea: 0
						}
				);

				MttMap.geoObjects.add(mttPlacemark);
				mttPlacemark.balloon.open();*/

				return ymaps.vow.resolve(MttMap);
			})
			.then(function (MttMap)
			{
				console.log("MttMap");
				/*return MttMap.locationByLatLng(MttMcMap.getCenter()[0], MttMcMap.getCenter()[1], 'house', 1)
						.then(function (location)
						{
							MttMcMap.hint.open(MttMcMap.getCenter(),
									location["text"]
							);

							return ymaps.vow.resolve(location);
						});*/
			})
			.fail(function (err)
			{
				console.log(err);
			});

	function balloon(MttMap, text, coords)
	{

		MttMap.geoObjects.removeAll();

		var iconContent = 'МотоТрек на карте';
		var contentHeader = 'МотоТрек на карте';
		var contentBody =   '<p>' +
				'Чтобы указать место расположения объекта, ' +
				'найдите его с помощью поисковой строки, ' +
				'или кликните мышкой по карте.' +
				'</p>';

		var contentFooter = '<p>' +
				'<strong>Сейчас указан:</strong><br/>' +
				MttMap.getCenter() +
				'</p>';

		mttPlacemark = new ymaps.Placemark(
				MttMap.getCenter()
				,	{
					/* Свойства*/
					iconContent: iconContent
					,	balloonContentHeader: contentHeader
					,	balloonContentBody: contentBody
					,	balloonContentFooter: contentFooter
				}
				,   {
					/* Опции*/
					preset: 'islands#blueStretchyIcon' /* иконка растягивается под контент */
					,	draggable: true
				});

		var contentFooter = '<p>' +
				'<strong>Сейчас указан:</strong><br/>' +
				text + '<br/>' +
				coords.join(', ') +
				'</p>';

		MttMap.geoObjects.add(mttPlacemark);
		MttMap.setCenter(coords);

		//mttPlacemark.balloon.open();

		/* когда двигаем метку */
		mttPlacemark.events.add('dragend', function (e)
		{
			var thisPlacemark = e.get('target');
			var coords = thisPlacemark.geometry.getCoordinates();

			return McMap.locationByLatLng(coords[0], coords[1], 'house')
					.then(function (location)
					{
						balloon(MttMap, location.text, location.coords);
					})
					.fail(function(error)
					{
						console.log(error);
					});
		});

		mttPlacemark.properties.set('balloonContentFooter', contentFooter);
		mttPlacemark.geometry.setCoordinates(coords);

		$('#s_mtt_address').val(text);
		$('#f_mtt_lat').val(coords[0]);
		$('#f_mtt_lng').val(coords[1]);
	}

})($);
//-->
</script>