<div class="row mototrekListContainer">
<ul class="trekCol col-xs-12 col-md-3">
<% trekList.forEach(function (locItem, locIndex, locNames)
{
	let hasTreks = (locItem["l_mtt_level"] == 1 ? "hasTreks" : "");


%><li class="<%=hasTreks%>"><%=(locItem["l_mtt_level"] +' '+locItem["l_name"])%><%

		if (locNames[locIndex+1] && locNames[locIndex+1]["l_mtt_level"] != 0  && locNames[locIndex+1]["l_mtt_level"] > locItem["l_mtt_level"]) { %><ul><%}
		if (locNames[locIndex+1] && locNames[locIndex+1]["l_mtt_level"] != 0  && locNames[locIndex+1]["l_mtt_level"] < locItem["l_mtt_level"]) { %></ul><%}

%></li><%

		if (locNames[locIndex+1] && locNames[locIndex+1]["l_mtt_level"] == 0)
		{
			%></ul><ul class="trekCol col-xs-12 col-md-3"><%
		}
});%></ul>
</div>
<script type="text/javascript">
//<!--
(function($)
{
	var $trekCols = $('.mototrekListContainer .trekCol');
	var $hasTrek = $trekCols.find('.hasTreks');
	$hasTrek.click(function (event)
	{
		if (event.target.tagName.toLowerCase() == 'a')
			return;

		event.preventDefault();
		$hasTrek.find('ul').hide();
		$(this).find('ul').show();
	});
})(jQuery);
//-->
</script>