<%  if(!isXHR){%><%- layout('layout/index') %><% } -%>
<div class="page-header">
    <h1><%= h1 %></h1>
</div>
<p>admin/index</p>
<p>вывести список админкий разделов...</p>

<script type="text/javascript">
/*
$(function(){
	$('form#loginForm').submit(function(event){
		event.preventDefault();

		var formData = $(this).serialize();

		$.ajax({
			url: "/login",
			method: "POST",
			data: formData,
			dataType: "json"
		})
		.done(function(data) {
			console.log( data );
			//alert(data.title);
		})
		.fail(function(data) {
			console.log( data );
		});
		return false;
	});
});
*/
</script>