<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title><%= title %></title>
</head>
<body>
<p><img src="<%= links %>/img/logo.png" alt="www.MotoCommunity.ru" /></p>
<p>Новость <a href="<%= links+link_to+'/'%>" target="_blank" style="color: #FF0000;">Новость</a>.</p>
</body>
</html>