.left-col
{
  padding: 0;
}

.middle-col
{
  height: 100%;
}

.right-col
{
}

.textCenter
{
  text-align: center;
}

.textLeft
{
  text-align: left;
}

.textRight
{
  text-align: right;
}

.displayInlineBlock
{
  display: inline-block;
}

.displayBlock
{
  display: block;
}
.displayInline
{
  display: inline;
}
.displayNone
{
  display: none;
}

.padding10
{
  padding: 10px;
}
.paddingTop10
{
  padding-top: 10px;
}
.paddingRight10
{
  padding-right: 10px;
}
.paddingBottom10
{
  padding-bottom: 10px;
}
.paddingLeft10
{
  padding-left: 10px;
}
.padding15
{
  padding: 15px;
}
.paddingTop15
{
  padding-top: 15px;
}
.paddingRight15
{
  padding-right: 15px;
}
.paddingBottom15
{
  padding-bottom: 15px;
}
.paddingLeft15
{
  padding-left: 15px;
}

.floatLeft
{
  float: left;
}
.floatRight
{
  float:right;
}
.floatNone
{
  float: none;
}
.floatInherit
{
  float: inherit;
}

.cursor-pointer
{
  cursor: pointer;
}