.left-col
{
  padding: 0;
}

.middle-col
{
  height: 100%;
}

.right-col
{
}

.textCenter
{
  text-align: center;
}

.textLeft
{
  text-align: left;
}

.textRight
{
  text-align: right;
}

.displayInlineBlock
{
  display: inline-block;
}

.displayBlock
{
  display: block;
}
.displayInline
{
  display: inline;
}
.displayNone
{
  display: none;
}

.padding10
{
  padding: 10px;
}
.paddingTop10
{
  padding-top: 10px;
}
.paddingRight10
{
  padding-right: 10px;
}
.paddingBottom10
{
  padding-bottom: 10px;
}
.paddingLeft10
{
  padding-left: 10px;
}
.padding15
{
  padding: 15px;
}
.paddingTop15
{
  padding-top: 15px;
}
.paddingRight15
{
  padding-right: 15px;
}
.paddingBottom15
{
  padding-bottom: 15px;
}
.paddingLeft15
{
  padding-left: 15px;
}

.floatLeft
{
  float: left;
}
.floatRight
{
  float:right;
}
.floatNone
{
  float: none;
}
.floatInherit
{
  float: inherit;
}

.cursor-pointer
{
  cursor: pointer;
}

.width100
{
  width: 100% !important;
}

.width99
{
  width: 99% !important;
}
.width98
{
  width: 98% !important;
}

.width50
{
  width: 50% !important;
}
.width49
{
  width: 49% !important;
}
.width48
{
  width: 48% !important;
}
.width33
{
  width: 33% !important;
}
.width32
{
  width: 32% !important;
}
.width31
{
  width: 31% !important;
}

.positionAbsolute {
  position: absolute;
}
.positionFixed {
  position: fixed;
}
.positionInherit {
  position: inherit;
}
.positionInitial {
  position: initial;
}
.positionRelative {
  position: relative;
}
.positionStatic {
  position: static;
}

h1 {
  margin-top: 0px;
}

a.line {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}