body {
  @include mix-font();

  &.mc-project
  {
    padding-top: 100px;

    @media (max-width: $screen-xs-min) and (orientation: portrait) {
      & {
        padding-top: 150px;
      }
    }
  }
}
/******************************** TinyMCE редактор */
body.mce-content-body,
.mce-container-body body
{
  padding: 0;
}
/******************************** END TinyMCE редактор */

@media (min-width: $screen-xs-min) {

}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}