<h1><%= title +' '+ error.status %></h1><%
if(error.stack) {%><pre><%= error.stack -%></pre><% } else {%>Произошла внутренняя ошибка. Мы получили уведомление об этом. В ближайшее время исправим ее.<%}%>