</div>
<footer class="footer">
    <div class="container-fluid">
        <p>in footer</p>
        <p>_reqBaseUrl :<%= _reqBaseUrl %></p>
        <p>_reqOriginalUrl: <%= _reqOriginalUrl %></p>
        <p>_reqPath: <%= _reqPath %></p>
    </div>
</footer>
<script src="/bootstrap/dist/js/ie10-viewport-bug-workaround.js"></script>
<script src="/js/helpers.js"></script>
</body>
</html>