body {
    /*min-height: 2000px;*/
    padding-top: 80px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/******************************** SITE MENU */
.navbar.navbar-default.navbar-fixed-top
{
	background-color: #333333;
	margin-bottom: 0;
	border: 0;
}

.navbar.navbar-default.navbar-fixed-top,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand
{
	color: #fff;
}

.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li.active>a:hover,
.navbar .navbar-nav>li.active>a
{
	background-color: #cc0000;
	color: #fff;
}

/*@media (min-width: 768px)
{
	.navbar-collapse.collapse
	{
		display: none!important;
	}
	.navbar-toggle
	{
		display: block;
	}
}*/


.navbar-social
{
	background-color: #fff;
	color: #000;
	min-height: 30px;
	line-height: 30px;
}

/* ipad */
@media (min-device-width: 768px) and (max-device-width: 1024px)
{
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-text {
		float: none;
		margin: 15px 0;
	}
	.navbar-collapse.collapse.in {
		display: block!important;
	}
	.collapsing {
		overflow: hidden!important;
	}
}
/* END ipad */

@media (max-device-width: 768px) and (orientation : landscape)
{
	.navbar-fixed-bottom .navbar-collapse,
	.navbar-fixed-top .navbar-collapse
	{
		max-height: 211px;
	}
}

/******************************** SITE MENU */

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.cursor-pointer
{
	cursor: pointer;
}

/********************************  */
.left-col
{
	padding: 0;
}

.middle-col
{
	height: 100%;
}

.right-col
{
}

.textCenter
{
	text-align: center;
}

.textLeft
{
	text-align: left;
}

.textRight
{
	text-align: right;
}

.displayInlineBlock
{
	display: inline-block;
}

.displayBlock
{
	display: block;
}
.displayInline
{
	display: inline;
}
.displayNone
{
	display: none;
}

/*@media screen and (min-width: 768px)
{
	.left-col
	{
		width: 100%;
	}
	.middle-col
	{
		width: 100%;
	}
	.right-col
	{
		width: 100%;
	}
}

@media screen and (min-width: 980px)
{
	.left-col
	{
		width: 27%;
	}
	.middle-col
	{
		width: 73%;
	}
	.right-col
	{
		width: 100%;
	}
}

@media screen and (min-width: 1280px)
{
	.left-col
	{
		width: 16.6667%;
	}
	.middle-col
	{
		width: 66%;
	}
	.right-col
	{
		width: 16.6667%;
	}
}
@media screen and (min-width: 1920px)
{
	.left-col
	{
		width: 16.6667%;
	}
	.middle-col
	{
		width: 66%;
	}
	.right-col
	{
		width: 16.6667%;
	}
}*/
/********************************  */

/******************************** CHAT */
#chat
{
    border: 1px solid red;
    height: 300px;
	margin-top: 50px;
}

#chat #messages_wrapper
{
    border: 1px solid green;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

#chat form textarea
{
    min-width: 200px;
    max-width: 400px;
    width: 400px;
    height: 70px;
}
/******************************** END CHAT */

/******************************** PROFILE */

.logo
{
	background: url("/img/logo.jpg") center top no-repeat;
	height: 149px;
	background-size: cover;
}
				/******************************** PROFILE AVA */
#profile-ava
{
	margin: -100px 0px 0px 0px;
	text-align: center;
}

#profile-ava a
{
	display: inline-block;
}

#profile-ava a img
{
	border: 2px solid #fff;
	width: 100% \9;
}

#profile-ava .fa-user
{
	font-size: 229px;
}

.profile-info > div
{
	overflow: hidden;
	white-space: nowrap;
}

				/******************************** END PROFILE AVA */
/******************************** END PROFILE */

/******************************** autocomplete */
.ui-autocomplete {
	max-height: 130px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
/******************************** END autocomplete */

/*
http://fontawesome.io/examples/
*/

.fa
{
	/*min-width: 18px;
	text-align: center;*/
}

a.social
{
	text-decoration: none;
}
a.social:hover
{
	color: #FFA500;
}

.modal-header .close
{
	font-size: 29px;
}

/********** список фотоальбомов **************/

.album-list-toolbar
{
	margin: 10px 0 0 0;
}

.album-list-toolbar .dropdown-menu>li>a
{
	padding: 3px 5px;
}
.albums
{
	/*border: 1px solid;*/
}

.albums .albumList
{
	overflow: hidden;
	min-height: 175px;
}
.albums .albumList .album
{
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0 10px 10px 0;
	float: left;
	background-color: #fff;

	max-width: 320px;
	max-height: 213px;

	width: 100%;

	/*height: 163px;
	width: 245px;*/
}
.albums .albumList .album a.albumImg
{
	/*height: 213px;
	width: 320px;*/
	position: relative;
	display: block;
	overflow: hidden;
	text-align: center;
	background: #F1F1F1;
}

.albums .albumList .album a.albumImg .fa-camera
{
	font-size: 115px;
	line-height: 213px;
	color: #ccc;
	text-decoration: none;
}
.albums .albumList .album a.albumImg img
{
	width: 100%;
}

.albums .albumList .album .albumTools
{
	position: absolute;
	top:0;
	left:0;
	right:0;
	display: inline-block;
	height: 24px;
	padding: 3px 0 0 3px;
	background-color: rgba(102, 102, 102, 0.6);
	z-index: 1;
}

.albums .albumList .album .albumTools:hover
{
	background-color: rgba(255, 255, 255, 0.6);
}

.albums .albumList .album .albumTools a,
.albums .albumList .album .albumTools span
{
	color: rgba(0, 0, 0, 0.6);
	display: inline-block;
	text-decoration: none;
}
.albums .albumList .album .albumTools a
{
	line-height: 18px;
	font-size: 21px;
	background-color: transparent;
}
.albums .albumList .album .albumTools .badge
{
	font-size: 12px;
	vertical-align: top;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
}

.albums .albumList .album .albumTitle
{
	position: absolute;
	padding: 0;
	left: 0;
	right: 0;

	top: 166px;
	bottom: -166px;

	/*top: 148px;
	bottom: -148px;*/

	font-size: 12px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);

	-webkit-transition: top 0.5s ease-out 0.1s;
	-moz-transition: top 0.5s ease-out 0.1s;
	-o-transition: top 0.5s ease-out 0.1s;
	transition: top 0.5s ease-out 0.1s;

	/*-webkit-transition: bottom 0.5s ease-out 0.1s;
	-moz-transition: bottom 0.5s ease-out 0.1s;
	-o-transition: bottom 0.5s ease-out 0.1s;
	transition: bottom 0.5s ease-out 0.1s;*/
}

.albums .albumList .album .albumTitle:hover
{
	bottom: 0;
	top: 24px;
}

.albums .albumList .album .albumTitle .albumName,
.albums .albumList .album .albumTitle .albumText
{
	padding: 5px;
}
.albums .albumList .album .albumTitle .albumText
{
	border-top: 1px dotted #fff;
}

@media (orientation: portrait)
{
	.albums .albumList .album
	{
		width: calc(100%);
	}
}
@media (orientation: landscape)
{
	.albums .albumList .album
	{
		width: calc(50% - 10px);
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
{
	.albums .albumList .album
	{
		width: calc(100%);
	}

	.albums .albumList .album .albumTitle
	{
		top: 187px;
		bottom: -187px;
	}
	.albums .albumList .album a.albumImg .fa-camera
	{
		line-height: 213px;
	}
}

/* Medium devices (desktops, 992px and up) */
/*@media (orientation: portrait) and (min-width: 992px)*/
@media (min-width: 992px)
{
	.albums .albumList .album
	{
		width: calc(100%);
	}

	.albums .albumList .album .albumTitle
	{
		top: 187px;
		bottom: -187px;
	}
	.albums .albumList .album a.albumImg .fa-camera
	{
		line-height: 213px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{

}


/*@media (orientation: landscape) and (min-width: 992px)
{
	.albums .albumList .album
	{
		width: calc(100%);
		max-height: 175px;
	}
	.albums .albumList .album a.albumImg .fa-camera
	{
		line-height: 213px;
	}
}*/

/********** END список фотоальбомов **************/

/********** список фоток в альбоме **************/
.albums .imageList
{
	min-height: 158px;
	overflow: hidden;
}
.albums .imageList .image
{
	cursor: move;
	/*width: 237px;
	height: 158px;
	*/
	float: left;
	/*width: 48%;*/
	max-width: 320px;
	max-height: 213px;
	overflow: hidden;
	margin: 0 10px 10px 0;
}

.albums .imageList .image img
{
	/*width: 100%;*/
	cursor: move;
	max-width: 320px;
}

@media screen and (max-width: 768px) and (orientation : portrait)
{
	.albums .imageList .image
	{
		width: 100%;
	}
}
@media screen and (max-width: 768px) and (orientation : landscape)
{
	.albums .imageList .image
	{
		width: calc(50% - 10px);
		max-height: 175px;
	}
	.albums .imageList .image img
	{
		/*max-height: 175px;*/
	}
}


.albumImageDialog.modal-dialog
{

}

.albumImageDialog .modal-header
{
	padding: 15px 10px 5px 10px;
}
.albumImageDialog .modal-body
{
	padding: 0;
	position: relative;
}



.albumImageDialog .modal-body .imageModalBody
{
	border: 1px solid red;
	max-width: calc(70%);
	max-width: -moz-calc(70%);
	max-width: -webkit-calc(70%);

	min-width: calc(50%);
	min-width: -moz-calc(50%);
	min-width: -webkit-calc(50%);

	text-align: center;
	display: block;
	float: left;
}
.albumImageDialog .modal-body .imageModalBody img.imageInModal
{
	max-width: calc(100%);
	max-width: -moz-calc(100%);
	max-width: -webkit-calc(100%);
}

.albumImageDialog .modal-body .imageModalBody .mcMap
{
	min-width: calc(70%);
	min-width: -moz-calc(70%);
	min-width: -webkit-calc(70%);

	min-height: calc(100%);
	min-height: -moz-calc(100%);
	min-height: -webkit-calc(100%);
}
.albumImageDialog .modal-body .imageModalBody .mcMap .albumImageInMapBalloon
{
	width: 158px;
	overflow: hidden;
}
.albumImageDialog .modal-body .imageModalBody .mcMap .albumImageInMapBalloon img
{
	width: 100%;
}

.albumImageDialog .modal-body .imageModalContent
{
	border: 1px solid green;
	display: block;
	overflow-y: scroll;
	padding: 5px;

	max-width: calc(50%);
	max-width: -moz-calc(50%);
	max-width: -webkit-calc(50%);

	max-height: calc(100%);
	max-height: -moz-calc(100%);
	max-height: -webkit-calc(100%);
}

.albumImageDialog .modal-body .imageModalContent textarea#imageText
{
	width: 100%;
	height: 70px;
	overflow: hidden;
	border: 0;
	border-radius: 0;
	margin: 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
}


@media (min-width: 768px)
{
	.albumImageDialog
	{
		width: 700px;
		margin: 10px auto;
	}
}

@media (max-width: 1024px)
{
	.albumImageDialog .modal-body .imageModalBody,
	.albumImageDialog .modal-body .imageModalContent
	{
		min-width: calc(100%);
		min-width: -moz-calc(100%);
		min-width: -webkit-calc(100%);
	}

	.albumImageDialog .modal-body .imageModalBody
	{
		min-height: calc(70%);
		min-height: -moz-calc(70%);
		min-height: -webkit-calc(70%);
	}
}

/********** END список фоток в альбоме **************/

/**********  список страниц (постраничная разбивка) **************/
nav.pagesNavigation
{
	text-align: center;
}
/**********  END список страниц (постраничная разбивка) **************/




















/* 768 / 1024 */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait)
{

}
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape)
{

}
/* END 768 / 1024 */


/* 414 / 736 */
@media (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3)
{

}
@media (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3)
{

}
/* END 414 / 736 */


/* 412 / 732 */
@media (min-device-width: 412px) and (max-device-width: 732px) and (orientation : portrait)
{

}
@media (min-device-width: 412px) and (max-device-width: 732px) and (orientation : landscape)
{

}
/* END 412 / 732 */


/* 375 / 667 */
@media (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)
{

}
@media (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)
{

}
/* END 375 / 667 */


/* 360 / 640 */
@media (min-device-width: 360px) and (max-device-width: 640px) and (orientation : portrait)
{

}
@media (min-device-width: 360px) and (max-device-width: 640px) and (orientation : landscape)
{

}
/* END 360 / 640 */


/* 320 / 568 */
@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait)
{

}
@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation : landscape)
{

}
/* END 320 / 568 */














/*

@media (min-width: px)
{

}
@media (min-width: px)
{

}
@media (min-width: px)
{

}
@media (min-width: px)
{

}*/
