<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title><%= title %></title>
</head>
<body>
<p><img src="<%= links %>/img/logo.png" alt="www.MotoCommunity.ru" /></p>
<p>Уcпешная регистрация на сайте <a href="<%= links %>" target="_blank" style="color: #FF0000;">www.MotoCommunity.ru</a></p>
<p>Чтобы Вы могли авторизоваться, перейдите по <a href="<%= links+'/registration/confirm/'+key %>" target="_blank" style="color: #FF0000;">ссылке</a>, и подтвердите регистрацию. Ссылка действительна в течении 24 часов.</p>
</body>
</html>
