<% if(!_isXHR){%><%- layout('layout/user/index') %><% }%>
<h1><%=_pageH1%></h1>
<div class="row">
	<%- include list.ejs %>
</div>
<%- include ../pages/index.ejs %>
<script type="text/javascript">
	//<!--
	//console.log(MCJS);

	if (MCJS['pages'] && Pagination)
	{
		MCJS['pages']['ajaxDataSrc'] = ['users'];
		MCJS['pages']['ajaxDataTarget'] = 'users';
		MCJS['pages']['jQuerySelector'] = '.js-user-list .js-user';

		Pagination.init();
	}
	//console.log(Pagination);
	//-->
</script>