<div class="col-xs-12 user-list js-user-list"><%
	if (users){
	users.forEach(function (user)
	{
		let  user_owner = user;
	%><div class="js-user"><%- include owner.ejs %></div><%
	});
	} %>
</div>
<script type="text/javascript">
//<!--
(function($){
	var $popover = $('.raad').popover({
		//trigger: "manual"
		//trigger: "focus"
		trigger: "click"
		, container: 'body'
		, placement: "auto bottom"
		, template: '<div class="popover ra" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
		, title: "Выберите регион"
		, html: true
		//, selector: "#viewport", "padding": 0
		, content: $('.content').html()
	});

	$popover
			.on('show.bs.popover', function (event) {
				var $self = $(this);

				console.log('show.bs.popover');
				console.log(event);
				console.log(this);
			})
			.on('inserted.bs.popover', function (event) {
				var $self = $(this);

				$('#'+$self.attr('aria-describedby'))
						.css({
							'max-width': '50%'
							, 'width': '100%'
						});

				console.log('inserted.bs.popover');
				console.log(event);
				console.log(this);
			})
			.on('shown.bs.popover', function (event) {
				var $self = $(this);
				console.log('shown.bs.popover');
				console.log(event);
				console.log(this);
			})
			.on('hide.bs.popover', function (event) {
				var $self = $(this);

				console.log('hide.bs.popover');
				console.log(event);
				console.log(this);
			})
			.on('hidden.bs.popover', function (event) {
				var $self = $(this);

				console.log('hidden.bs.popover');
				console.log(event);
				console.log(this);
			});

	/*$popover.click(function (event)
	{
		if (!!$popover.attr('aria-describedby') === false)
		{
			$popover.popover('show');
		}
	});*/
})(jQuery);
//-->
</script>