<h4><a href="/ru/news">Новости</a></h4>
<div class="viewNews">
    <div class="newsHeader">
        <span class="newsDate">21-08-2015</span>
        <a class="newsTitle" href="/ru/news/20150821115001/" title="В финале шоу Adrenaline FMX Riders  установлен новый рекорд России">В финале шоу Adrenaline FMX Riders  установлен новый рекорд России</a>
    </div>
    <div class="newsNotice">
        <a class="newsTitle" href="/ru/news/20150821115001/"><img src="http://motocommunity.ru/file/ru/news/part_0/125/503/209447271755d71368ef2b9382461860.jpg" alt="В финале шоу Adrenaline FMX Riders  установлен новый рекорд России"></a>
        <p>Москва, 18 августа – финал мотофристайл-битвы Adrenaline FMX Riders, состоявшийся в минувшую субботу в Москве на территории СК «Лужники», оказался богат не только на яркие эмоции, но и на новые достижения: один из номеров шоу-программы вошел в Книгу Рекордов России как самая длинная непрерывная серия мотофристайл-трюков.</p>
    </div>
    <div class="newsHeader">
        <span class="newsDate">06-08-2015</span>
        <a class="newsTitle" href="/ru/news/20150806091607/" title="Ducati Scrambler Party">Ducati Scrambler Party</a>
    </div>
    <div class="newsNotice">
        <a class="newsTitle" href="/ru/news/20150806091607/"><img src="http://motocommunity.ru/file/ru/news/part_0/124/496/16177951655c327a012f8c848170043.jpg" alt="Ducati Scrambler Party"></a>
        <p>1 августа Ducati Club Russia решил раскрасить уходящее непогожее лето и устроить в Москве пляжную вечеринку. Изюминкой пати стала горячая новинка сезона Ducati Scrambler...</p>
    </div>
    <div class="newsHeader">
        <span class="newsDate">27-05-2015</span>
        <a class="newsTitle" href="/ru/news/20150527084300/" title="команда Adrenaline Rush Ferz завоевала три кубка в Польше">команда Adrenaline Rush Ferz завоевала три кубка в Польше</a>
    </div>
    <div class="newsNotice">
        <a class="newsTitle" href="/ru/news/20150527084300/"><img src="http://motocommunity.ru/file/ru/news/part_0/123/493/1897909050556584eac44a5041650901.jpg" alt="команда Adrenaline Rush Ferz завоевала три кубка в Польше"></a>
        <p>В минувшие выходные первая российская команда по мотофристайлу Adrenaline Rush Ferz завоевала три награды на состязаниях в рамках мотофристайл-шоу Sky Fighters в Польше.</p>
    </div>
</div>