.comment-list-container {
  list-style: none;
  margin: 0;
  padding: 0;

  .comment-item {
    &.comment-level-0 {
      padding-left: 0;
    }
    &.comment-level-1 {
     padding-left: 4%; 
    }
    &.comment-level-2 {
     padding-left: 8%; 
    }
    &.comment-level-3 {
     padding-left: 12%; 
    }
    &.comment-level-4 {
     padding-left: 16%; 
    }
    &.comment-level-5 {
     padding-left: 20%; 
    }
    &.comment-level-6 {
     padding-left: 24%; 
    }
    &.comment-level-7 {
     padding-left: 28%; 
    }
    &.comment-level-8 {
     padding-left: 32%; 
    }
    &.comment-level-9 {
      padding-left: 36%;
    }
    &.comment-level-10 {
      padding-left: 40%;
    }
    
    list-style: none;
    overflow: hidden;
    display: table;
    margin-bottom: 10px;
    //width: 100%;
    
    .form-add-comment {
      //max-width: 50%;
    }
    
    .comment-user {
      display: table-cell;
      vertical-align: top;
    }
    .comment-data {
      display: table-cell;
      vertical-align: top;
      width: auto;
      border: 1px solid #e2e2e2;
      @include mix-border-radius(4px);
      padding: 4px;
      
      .comment-date {
        float: left;
        font-size: 12px;
        line-height: 20px;
        color: #ccc;
        
        &:after {
          content: ' | ';
          margin-right: 5px;
        }
      }
      .comment-action {
        float: left;
        
        a {
          cursor: pointer;
        }
      }
      .comment-text {
        clear: both;
      }
    }
  }
}