/******************************** встроенное видео через iframe */
iframe.iframeVideoEmbed
{
  border: 0;
  display: inline-block;
  width: 303px;
  height: 227px;
}

.videoMove iframe.iframeVideoEmbed
{
  width: 100%;
}

@media (min-width: 1200px)
{
  iframe.iframeVideoEmbed
  {

  }
}
@media (min-width: 992px) and (max-width: 1200px)
{
  iframe.iframeVideoEmbed
  {

  }
}
@media (max-width: 1024px)
{
  iframe.iframeVideoEmbed
  {
    /*width: 100%;*/
  }
}
@media (min-width: 768px) and (max-width: 992px)
{
  iframe.iframeVideoEmbed
  {
    /*width: 100%;*/
  }
}

@media (min-width: 768px) and (max-width: 1024px)
{
  iframe.iframeVideoEmbed
  {
    /*width: 100%;*/
  }
}
@media (max-width: 768px)
{
  iframe.iframeVideoEmbed
  {
    /*width: 100%;*/
  }
}
@media (max-width: 768px) and (orientation : landscape)
{
  iframe.iframeVideoEmbed
  {
    /*width: 100%;*/
  }
}
@media (max-width: 640px)
{
  iframe.iframeVideoEmbed
  {
    width: 100%;
  }
}
@media (max-width: 568px)
{
  iframe.iframeVideoEmbed
  {
    width: 100%;
  }
}

@media (max-width: 568px) and (orientation : landscape)
{
  iframe.iframeVideoEmbed
  {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px)
{
  iframe.iframeVideoEmbed
  {
    width: 100%;
  }
}