<%  if(!_isXHR){%><%- layout('layout/index') %><% } -%>
<p>Motosaloni</p>
<ol>
	<li>Название *<br>
	<li>описание * (общее описание)</li>
	<li>у мотосалона может быть несколько адресов. и на каждый адрес свой емейл, телефон, веб-сайт (может совпадать)<br>
		структуру в БД похоже лучше делать на деревьях?<br>
		первй уровень - название,<br>
		второй уровень - данные по адресам
		<ol>
			<li>опубликовать|скрыть *</li>
			<li>адрес *</li>
			<li>широта долгота *</li>
			<li>сайт *</li>
			<li>емейл *</li>
			<li>телефоны *</li>
			<li>описание *</li>
			<li>связывать ли с user_id?</li>
		</ol>
	</li>
</ol>