<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title><%= title %></title>
</head>
<body>
<p><img src="<%= links %>/img/logo.png" alt="www.MotoCommunity.ru" /></p>
<p>Регистрация на сайте <a href="<%= links %>" target="_blank" style="color: #FF0000;">www.MotoCommunity.ru</a></p>
<p>Профиль <a href="<%=[links,'profile', u_id].join('/')%>/" target="_blank" style="color: #FF0000;">пользователя</a>.</p>
</body>
</html>