
.uploadWrapper .uploadifive-queue
{
  margin: 0px auto;
  width: 100%;
  min-height: 20px;
}
.uploadWrapper .uploadify-button,
.uploadWrapper .uploadifive-button
{
  line-height: 24px !important;
  cursor: pointer;
}
.uploadWrapper object
{
  background: transparent;
  /*position: absolute;
  left: 0;
  top: 0;*/
}
.uploadWrapper .uploadify
{
  margin: 0 auto;
}
.uploadWrapper input[type=file]
{
  cursor: pointer;
}

.image-crop-container
{
  background-color: #f7f7f7;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  border: 1px dashed;
}
.image-crop-container > img
{
  max-width: 100%;
}

.img-preview
{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  border: 1px dashed;
}

.ava-preview-lg
{
  width: 180px;
  height: 180px;
}
.ava-preview-md {
  width: 100px;
  height: 100px;
}
.ava-preview-sm {
  width: 50px;
  height: 50px;
}

.ava-preview-xs {
  width: 25px;
  height: 25px;
  margin-right: 0;
}

@media (min-width: 320px)
{
  .image-crop-container
  {
    margin: 0;
  }
  .ava-preview-lg
  {
    width: 120px;
    height: 120px;
  }
  .ava-preview-md {
    width: 65px;
    height: 65px;
    float: none;
  }
  .ava-preview-sm {
    width: 45px;
    height: 45px;
    float: none;
  }
}

@media (min-width: 360px)
{

}

@media (min-width: 375px)
{

}

@media (min-width: 412px)
{

}
@media (min-width: 414px)
{

}
@media (min-width: 768px)
{

}


/******************************** uploader  */
.uploadify-queue,
.uploadifive-queue
{
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}
.uploadifive-queue-item
{
  border: 1px dotted;
  padding: 5px;
  @include mix-border-radius(5px);
}

.uploadifive-queue-item .progress
{
  margin: 0;
}
/******************************** END uploader  */