<% albums.forEach(function (album)
{
let imgSrc = (album["previews"]["320_213"] ? album["previews"]["320_213"] : '/_0.gif');
%>
<div class="album">
	<a class="albumBody" href="<%=album["a_id"]%>/">

		<div class="albumTools">
			<a href="javascript:void(0)" class="badge"><%=album["a_img_cnt"]%></a>
			<a href="javascript:void(0)"><span class="fa fa-edit"></span></a>
		</div>
	</a>
</div>
<%})%>

