<ol class="breadcrumb">
	<li><a href="<%=menuItem['m_path']%>/"><%=menuItem['m_name']%></a></li>
	<li><a href="<%=(menuItem['m_path']+'/'+user['u_id']+'/')%>"><%=user['u_display_name']%></a></li>
</ol>