<div class="imagesWrapper">
<div class="imagesContainer">
<% newsImages.forEach(function (image)
{
	%><div class="imageItem"><img src="<%=image["previews"]["512_384"]%>" class="image" data-img-id="<%=image["ni_id"]%>"/></div><%
});%>
</div>
</div>