/**********  БЛОГ БЛОГ БЛОГ БЛОГ БЛОГ БЛОГ   **************/

.blogData p
{
  overflow: hidden;
}

.blogData ul.images
{
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: calc(100%);
  text-align: center;
}

.blogData .imagesWrapper
{
  display: none;
}

.blogData img.image
{
  cursor: pointer;
}

.blogSubjects {
  @media (max-width: $screen-md-min)
  {
    right: auto;
  }
}

.blogListContainer
{
  //overflow: hidden;
  position: relative;
  display: table;
  width: 100%;
}
.blogListContainer .blogListItem
{
  float: left;
  margin:  0px  10px  10px  0px;
  width: auto;
  display: table-cell;
}

.blogListContainer .blogListItem .blogListItemInfo
{
  display: block;
  position: relative;
  color: #333;
  max-width: 382px;
  min-width: 382px;

  max-height: 288px;
  min-height: 288px;
  overflow: hidden;
  border: 1px solid #e2e2e2;
  @include mix-border-radius(4px);

  &:hover {
   border-color: #333;
  }
}

.blogListContainer .blogListItem .blogListItemInfo img
{
  @include mix-width-calc(100%);
  @include mix-opacity(0.2);
}

.blogListContainer .blogListItem .blogListItemInfo div
{
  position: absolute;
  width: 100%;
}

.blogListContainer .blogListItem .blogListItemInfo .subject {
  top: 0;
  left: 0;
  background-color: #e2e2e2;
  padding: 3px;
  overflow: hidden;
  max-height: 26px;
}

.blogListContainer .blogListItem .blogListItemInfo .blogListItemInfoDate
{
  top: 20px;
  left: 0;
  padding: 3px;
  //background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  display: inline-block;
  max-height: 56px;
  overflow: hidden;

  & .blogListItemInfoAuthor {

    display: inline-block;
    & img {
      width: auto;
      display: inline-block;
      @include mix-opacity(1);
    }
    & .fa {
      width: 50px;
      height: 50px;
      display: inline-block;
      font-size: 38px;
    }
  }
}

.blogListContainer .blogListItem .blogListItemInfo .blogListItemInfoNotice
{
  //background-color: rgba(0, 0, 0, 0.7);
  top: 76px;
  padding: 0px 3px 3px 3px;
  bottom: 0;
  //@include mix-transition(top, 0.5s, ease-out, 0.1s);
}

.blogListContainer .blogListItem .blogListItemInfo:hover .blogListItemInfoNotice
{
  //top: 0px;
}
.blogListContainer .blogListItem .blogListItemInfo .blogListItemInfoNotice p:first-child
{
  border-top: 1px dotted;
  text-align: center;
  font-weight: bold;
}

.blogListContainer .blogListItem .blogListItemInfo .blogListItemInfoNotice p:last-child
{
  border-top: 1px dotted;
}


.blog-author {
  border: 1px solid #FFF;
  &:hover {
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    @include mix-border-radius(5px);
  }

  display: table;
  border-spacing: 3px;

  &_user{
    display: table-cell;
    padding: 3px;

    & > .fa-user {
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 50px;
      text-align: center;
    }
  }

  &_data{
    display: table-cell;
    padding: 3px;
    vertical-align: top;
  }
}

@media (min-width: $screen-md) and (max-width: $screen-lg)
{

}
@media (max-width: 1024px)
{

}
@media (min-width: $screen-sm) and (max-width: $screen-md)
{

}

@media (min-width: $screen-sm) and (max-width: 1024px)
{
  .blogListContainer .blogListItem .blogListItemInfo
  {
    max-width: 356px;
    max-height: 269px;

    min-width: 356px;
    min-height: 269px;
  }
}

@media (max-width: $screen-sm) and (orientation : landscape)
{
  /*.blogListContainer .blogListItem .blogListItemInfo
  {
    max-width: 100%;
    max-height: 257px;

    min-width: 100%;
    min-height: 257px;
  }

  .blogListContainer .blogListItem .blogListItemInfo .blogListItemInfoNotice
  {
    top: 82px;
    //background-color: rgba(0, 0, 0, 0.7);
  }*/
}

//@media (max-width: 640px)
@media (max-width: $screen-xs-min)
{
  .blogListContainer .blogListItem .blogListItemInfo
  {
    max-width: 100%;
    width: 100%;
    height: calc(75% - 10px);
  }
  .blogListContainer .blogListItem .blogListItemInfo .blogListItemInfoNotice
  {
    top: 82px;
    //background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 568px)
{
  .blogListContainer .blogListItem .blogListItemInfo
  {
    @include mix-max-width-calc(100%);
    @include mix-min-width-calc(100%);

    /*max-height: 258px;*/
  }
  .blogListContainer .blogListItem .blogListItemInfo .blogListItemInfoNotice
  {
    //top: 26px;
    top: 82px;
    //background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (min-width: $screen-xxs) and (max-width: $screen-xs)
{
  .blogListContainer .blogListItem {
    width: 100%
  }
}