/**********  БЛОГ БЛОГ БЛОГ БЛОГ БЛОГ БЛОГ   **************/

.blogData p
{
  overflow: hidden;
}

.blogData ul.images
{
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: calc(100%);
  text-align: center;
}

.blogData .imagesWrapper
{
  display: none;
}

.blogData img.image
{
  cursor: pointer;
}

.blogSubjects {
  //@media (min-width: $screen-sm) and (max-width: $screen-md-min)
  @media (max-width: $screen-xs-max), (min-width: $screen-sm)
  {
    right: auto;
  }
}

.blog-container
{
  .blog-item
  {
    border: 1px solid #e2e2e2;
    @include mix-border-radius(4px);
    height: 280px;
    overflow: hidden;
    @media (min-width: $screen-md )
    {
      &
      {
        height: round(($screen-md-min + 410) / 5);
      }
    }
    @media (min-width: $screen-sm ) and (max-width: $screen-sm-max )
    {
      &
      {
        height: 300px;
      }
    }
    
    &-subject
    {
      padding: 5px;
      &:before
      {
        content: 'Тема: ';
        font-weight: bold;
      }
    }
    
    &-info
    {
      height: auto;
    }
  }
}

.home
{
  .blog-item {
    &-info
    {
      height: auto;
    }
  }
}