/**********  СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ  **************/

.eventLocationsMenu li.selected
{
  background-color: #f5f5f5;
}

.eventData
{

}
.eventData p
{
  overflow: hidden;
}

.eventData ul.eventImages
{
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: calc(100%);
  text-align: center;
}

.eventData ul.eventImages li
{
  list-style-type: none;
}
.eventImagesContainer .eventImageItem,
.eventData ul.eventImages li
{
  text-align: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 10px 10px 0;
  max-width: 216px;
  max-height: 162px;
}
.eventImagesContainer .eventImageItem
{
  margin: 0 5px 10px 5px;
}

.eventImagesContainer .eventImageItem .eventImageTools
{
  background-color: #666;
  color: #fff;
  min-height: 24px;
  line-height: 24px;
}

.eventImagesContainer .eventImageItem .eventImageTools a
{
  color: #fff;
}
.eventImagesWrapper
{

}

.eventImagesWrapper legend a:hover
{
  cursor: pointer;
}

.eventImagesWrapper .eventImagesContainer
{
  overflow: hidden;
  text-align: center;
  display: block;
  margin: 10px 0 0 0;
}


.eventData .eventImagesWrapper
{
  display: none;
}

img.eventImage
{
  cursor: move;
  width: calc(100%);
}

.eventData img.eventImage
{
  cursor: pointer;
}
.eventData .eventMap
{
  height: 350px;
}

.eventData .eventMap #eventMap
{
  height: 100%;
}

.eventLocationsBtnGroup select
{
  max-width: 150px;
}

.eventListContainer
{

}
.eventListContainer .eventListItem
{
  float: left;
  margin:  0px  10px  10px  0px;
  width: auto;
}

.eventListContainer .eventListItem .eventListItemInfo
{
  display: block;
  position: relative;
  border: none;
  color: #fff;
  max-width: 384px;
  max-height: 288px;
  min-width: 384px;
  min-height: 288px;
  overflow: hidden;
}

.eventListContainer .eventListItem .eventListItemInfo img
{
  @include mix-width-calc(100%);
  @include mix-opacity(0.5);
}

/*.eventListContainer .eventListItem .eventListItemInfo:hover img
{
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}*/

.eventListContainer .eventListItem .eventListItemInfo div
{
  position: absolute;
  width: 100%;
}

.eventListContainer .eventListItem .eventListItemInfo .eventListItemInfoDate
{
  top: 0;
  padding: 3px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.eventListContainer .eventListItem .eventListItemInfo .eventListItemInfoNotice
{
  background-color: rgba(0, 0, 0, 0.7);
  top: 245px;
  padding: 0px 3px 3px 3px;
  bottom: 0;
  @include mix-transition(top, 0.5s, ease-out, 0.1s);
}

.eventListContainer .eventListItem .eventListItemInfo:hover .eventListItemInfoNotice
{
  top: 26px;
}
.eventListContainer .eventListItem .eventListItemInfo .eventListItemInfoNotice p:first-child
{
  text-align: center;
  font-weight: bold;
}

.eventListContainer .eventListItem .eventListItemInfo .eventListItemInfoNotice p:last-child
{
  border-top: 1px dotted;
}
@media (min-width: 1200px)
{
  .eventImagesContainer .eventImageItem
  {
    max-width: 257px;
    max-height: 192px;
  }
  .eventData ul.eventImages li
  {
    max-width: 288px;
    max-height: 216px;
  }
}
@media (min-width: 992px) and (max-width: 1200px)
{

}
@media (max-width: 1024px)
{

}
@media (min-width: 768px) and (max-width: 992px)
{

}

@media (min-width: 768px) and (max-width: 1024px)
{
  .eventImagesContainer .eventImageItem
  {
    max-width: 231px;
    max-height: 173px;
  }
  .eventData ul.eventImages li
  {
    /*max-height: 384px;*/

    /*max-width: 293px;
    max-height: 219px;*/
  }

  .eventListContainer .eventListItem .eventListItemInfo
  {
    max-width: 359px;
    max-height: 269px;

    min-width: 359px;
    min-height: 269px;
  }
}
@media (max-width: 768px)
{
  .eventImagesContainer .eventImageItem
  {
    max-width: 236px;
    max-height: 177px;
  }
  .eventData ul.eventImages li
  {
    max-width: 357px;
    max-height: 267px;
  }
}
@media (max-width: 768px) and (orientation : landscape)
{
  .eventImagesContainer .eventImageItem
  {
    max-width: 308px;
    max-height: 231px;
  }
  .eventData ul.eventImages li
  {
    max-width: 306px;
    max-height: 229px;
  }

  .eventListContainer .eventListItem .eventListItemInfo
  {
    max-width: 100%;
    max-height: 257px;

    min-width: 100%;
    min-height: 257px;
  }

  .eventListContainer .eventListItem .eventListItemInfo .eventListItemInfoNotice
  {
    top: 26px;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
@media (max-width: 640px)
{
  .eventImagesContainer .eventImageItem,
  .eventData ul.eventImages li
  {
    max-width: 293px;
    max-height: 219px;
  }

  .eventListContainer .eventListItem .eventListItemInfo
  {
    max-width: 100%;
    width: 100%;
    height: calc(75% - 10px);
  }
  .eventListContainer .eventListItem .eventListItemInfo .eventListItemInfoNotice
  {
    top: 26px;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
@media (max-width: 568px)
{
  .eventImagesContainer .eventImageItem,
  .eventData ul.eventImages li
  {
    max-height: 281px;
    @include mix-max-width-calc(100%);
  }

  .eventListContainer .eventListItem .eventListItemInfo
  {
    @include mix-max-width-calc(100%);
    @include mix-min-width-calc(100%);

    /*max-height: 258px;*/
  }
  .eventListContainer .eventListItem .eventListItemInfo .eventListItemInfoNotice
  {
    top: 26px;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 568px) and (orientation : landscape)
{
  .eventImagesContainer .eventImageItem,
  .eventData ul.eventImages li
  {
    max-width: 255px;
    max-height: 191px;
  }
}

@media (min-width: 320px) and (max-width: 480px)
{

}