/**********  СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ  **************/

.eventLocationsMenu li.selected
{
  background-color: #f5f5f5;
}

.eventData p
{
  overflow: hidden;
}

.eventData ul.images
{
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: calc(100%);
  text-align: center;
}

.eventData .imagesWrapper
{
  display: none;
}



.eventData img.image
{
  cursor: pointer;
}
.eventData .eventMap
{
  height: 350px;
}

.eventData .eventMap #eventMap
{
  height: 100%;
}

.eventLocationsBtnGroup select
{
  max-width: 150px;
}

.eventListContainer
{

}
.eventListContainer .eventListItem
{
  float: left;
  margin:  0px  10px  10px  0px;
  width: auto;
}

.eventListContainer .eventListItem .eventListItemInfo
{
  display: block;
  position: relative;
  border: none;
  color: #fff;
  max-width: 384px;
  max-height: 288px;
  min-width: 384px;
  min-height: 288px;
  overflow: hidden;
}

.eventListContainer .eventListItem .eventListItemInfo img
{
  @include mix-width-calc(100%);
  @include mix-opacity(0.5);
}

.eventListContainer .eventListItem .eventListItemInfo div
{
  position: absolute;
  width: 100%;
}

.eventListContainer .eventListItem .eventListItemInfo .eventListItemInfoDate
{
  top: 0;
  padding: 3px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.eventListContainer .eventListItem .eventListItemInfo .eventListItemInfoNotice
{
  background-color: rgba(0, 0, 0, 0.7);
  top: 245px;
  padding: 0px 3px 3px 3px;
  bottom: 0;
  @include mix-transition(top, 0.5s, ease-out, 0.1s);
}

.eventListContainer .eventListItem .eventListItemInfo:hover .eventListItemInfoNotice
{
  top: 26px;
}
.eventListContainer .eventListItem .eventListItemInfo .eventListItemInfoNotice p:first-child
{
  text-align: center;
  font-weight: bold;
}

.eventListContainer .eventListItem .eventListItemInfo .eventListItemInfoNotice p:last-child
{
  border-top: 1px dotted;
}


@media (min-width: $screen-md) and (max-width: $screen-lg)
{

}
@media (max-width: 1024px)
{

}
@media (min-width: $screen-sm) and (max-width: 992px)
{

}

@media (min-width: $screen-sm) and (max-width: $screen-md)//(max-width: 1024px)
{
  .eventListContainer .eventListItem .eventListItemInfo
  {
    max-width: 359px;
    max-height: 269px;

    min-width: 359px;
    min-height: 269px;
  }
}

@media (max-width: $screen-sm) and (orientation : landscape)
{
  .eventListContainer .eventListItem .eventListItemInfo
  {
    max-width: 100%;
    max-height: 257px;

    min-width: 100%;
    min-height: 257px;
  }

  .eventListContainer .eventListItem .eventListItemInfo .eventListItemInfoNotice
  {
    top: 26px;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: $screen-sm)//640px
{
  .eventListContainer .eventListItem .eventListItemInfo
  {
    max-width: 100%;
    width: 100%;
    height: calc(75% - 10px);
  }
  .eventListContainer .eventListItem .eventListItemInfo .eventListItemInfoNotice
  {
    top: 26px;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 568px)
{
  .eventListContainer .eventListItem .eventListItemInfo
  {
    @include mix-max-width-calc(100%);
    @include mix-min-width-calc(100%);

    /*max-height: 258px;*/
  }
  .eventListContainer .eventListItem .eventListItemInfo .eventListItemInfoNotice
  {
    top: 26px;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (min-width: $screen-xxs) and (max-width: $screen-xs)
{

}