/**********  СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ СОБЫТИЯ  **************/

.newsLocationsMenu li.selected
{
  background-color: #f5f5f5;
}

.newsData p
{
  overflow: hidden;
}

.newsData ul.images
{
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: calc(100%);
  text-align: center;
}

.newsData .imagesWrapper
{
  display: none;
}

.newsData img.image
{
  cursor: pointer;
}
.newsData .newsMap
{
  height: 350px;
}

.newsData .newsMap #eventMap
{
  height: 100%;
}

.newsLocationsBtnGroup select
{
  max-width: 150px;
}

.notice-container.home
{
  margin: 0 0 0 -15px;
  
  h2
  {
    margin-left: 15px;
  }
  .notice-item
  {
    margin: 0 0 15px 15px;
    @media (min-width: $screen-md )
    {
      &
      {
        width: calc(25% - 15px);
      }
    }
    @media (min-width: $screen-xxs ) and (max-width: $screen-xs )
    {
      &
      {
        margin-right: 0;
        
      }
    }
    @media (max-width: $screen-xxs )
    {
      &
      {
        margin-right: 0;
      }
    }
  }
}