/********** профиль просматриваемого юзера **************/
.userProfile
{
  & .blocks
  {
    /*float: left;
    @include mix-max-width-calc(34%);*/
    & .blogListItem {
      width: 442px;
      @media (max-width: $screen-sm)
      {
        & {
          width: 100%;
          min-width: 100%;
        }
      }

      & .blogListItemInfo {
        max-width: 442px;

        //@media (max-width: $screen-sm) and (orientation : landscape)
        @media (max-width: $screen-sm)
        {
          & {
            width: 100%;
            min-width: 100%;
          }
        }

        & .blogListItemInfoNotice {
          top: 24px;
        }
      }
    }
  }
}