/********** список пользователей **************/

.user-list {

  & > div {
    float: left;
    width: 272px;
    margin: 4px;

    @media (max-width: $screen-xs-max)
    {
      &
      {
        width: 100%;
        max-width: 100%;
      }
    }

    & .owner_ava {
      max-height: 100%;
      max-width: 100%;

      &:hover {
        text-decoration: none;
      }

      & > .fa-user {
        min-width: 100px;
        min-height: 100px;
        line-height: 100px;
        font-size: 114px;
        text-decoration: none;

      }
    }

    @media (max-width: $screen-xs-max) {

      & .owner, & .owner_info {
        width: 100%;
        max-width: 100%;
      }
      & .owner_ava > .fa-user {
        min-height: inherit;
        max-height: inherit;
        min-width: inherit;
        max-width: inherit;
        line-height: 50px;
        font-size: 50px;
      }
    }

    @media (min-width: $screen-sm) {
      & {
        width: 233px;
      }

      & .owner, & .owner_info {
        width: 100%;
        max-width: 100%;
      }

      & .owner_ava > .fa-user {
        min-height: inherit;
        max-height: inherit;
        min-width: inherit;
        max-width: inherit;
        line-height: 50px;
        font-size: 50px;
      }
    }
  }
}