<%- include ../../header -%>
<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-2 left-col"><%- (typeof user_left === 'undefined' ? '' : user_left) -%></div>
	<div class="col-xs-12 col-sm-8 col-md-10 middle-col"><%- body -%></div>
</div>
<%- include ../../footer -%>