<%  if(!isXHR){%><%- layout('layout/index') %><% } -%>
<% if( confirmed) {%>
<p>Смена e-mail адреса успешна завершена.</p>
<% } else { %>
<p>Не удалось завершить смену e-mail адреса.</p>
<p>Возможно, Вы перешли по устаревшей или неправильной ссылке.</p>
<% }  %>