<%  if(!isXHR){%><%- layout('layout/user/index') %><% } -%>
<div class="col-xs-12 col-sm-8 col-md-8 middle-col">
    <p>разводящая страница по профилю пользователя</p>
    <p>вывести блоки с фотоальомами</p>
    <p>вывести блоки с записями в блогах</p>
    <p>вывести блоки с записями в видео-альбомах...</p>
    <% if(u_id){%><p class="lead">Hellow RA <%= u_id + ' ' + u_mail -%></p><% } -%>
</div>